.content {
    display: flex;
    flex-direction: column;
}

.services_header {
    padding: 30px;
}

.p1 {
    font-size: 1.3em;
    font-weight: 500;
    font-family: 'Poppins';
}

.h3 {
    color: #FD5521;
    font-weight: bold;
    font-size: 1.7em;
    margin-bottom: 20px;
    font-family: 'Poppins';
}

/* ------------- */

.icon {
    color: #FD5521;
    margin-bottom: 10px;
}

.p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em;
}

.img {
    height: 300px;
    width: 100vw;
}

.commercial {
    padding: 30px;
}
.residential {
    padding: 30px;
}
.pre {
    padding: 30px;
}
.special {
    padding: 30px;
}
.site {
    padding: 30px;
}
.construction {
    padding: 30px;
}
.civil {
    padding: 30px;
}
.landscape {
    padding: 30px;
}

@media (min-width: 769px) {

    .services_header {
        width: 700px;
    }

    .h3 {
        font-size: 2.5em;

    }

    .services_header {
        padding: 30px 60px;
    }

    .section {
        display: flex;
        align-items: center;
    }

    .section_i {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }

    .img {
        height: 700px;
    }
}