.content {
    padding: 30px;
    font-family: 'Poppins', sans-serif;
}

.p1 {
    font-size: 1.3em;
    font-weight: 500;
}

.h3 {
    color: #FD5521;
    font-weight: bold;
    font-size: 2em;
    margin-bottom: 20px;
}

.btn {
    background-color: #FD5521;
    color: black;
    padding: 15px;
    border: none;
    width: 150px;
}