.content {
    padding: 20px;
}

.paragraph {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em;
    font-weight: 500;
}

.h3 {
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 1.5em;
    color: #FD5521;
}

.btn {
    background-color: #FD5521;
    color: black;
    padding: 15px;
    border: none;
    width: 150px;
    margin-top: 20px;
}

.btn:hover {
    background-color: #F7F7F7;
    border: 1px solid black;
    transition: 0.3s;
}

@media (min-width: 769px) {
    .content {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 100px 0px;
        /* border: 1px solid black; */
    }

    .h3 {
        font-size: 2em;
        width: 400px;
    }
}