.content {
    padding: 30px;
    font-family: 'Poppins', sans-serif;
}

.p1 {
    font-size: 1.3em;
    font-weight: 500;
}

.h3 {
    color: #FD5521;
    font-weight: bold;
    font-size: 1.7em;
    margin-bottom: 20px;
}

.img {
    height: 200px;
}

.hr {
    margin-top: 40px;
    border: 1px solid black;
}