.content {
    margin-top: 50px;
    padding: 30px;
    font-family: 'Poppins', sans-serif;
}

.p1 {
    font-size: 1.3em;
    font-weight: 500;
}

.h3 {
    color: #FD5521;
    font-weight: bold;
    font-size: 1.7em;
    margin-bottom: 20px;
}

.img {
    height: 200px;
}

.hr {
    margin-top: 40px;
    border: 1px solid black;
}

@media (min-width: 769px) {
    .content {
        display: flex !important;
        justify-content: center;
        padding: 60px;
    }

    .h3 {
        font-size: 2em;
    }

    .p2 {
        width: 500px;
    }

    .card {
        width: 800px;

    }

    .img {
        height: 500px;
    }
}