.header {
    height: 800px;
    position: relative;
    overflow: hidden;
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Ajusta a largura do vídeo ao tamanho do contêiner */
    height: 100%; /* Ajusta a altura do vídeo ao tamanho do contêiner */
    object-fit: cover; /* Faz com que o vídeo cubra todo o contêiner sem distorção */
}

.content {
    position: absolute;
    top: 20px; /* Ajuste o valor conforme necessário para a posição vertical */
    left: 20px; /* Ajuste o valor conforme necessário para a posição horizontal */
    color: #fff; /* Ajuste a cor do texto conforme necessário */
    z-index: 1; /* Garante que o conteúdo esteja acima do vídeo */
    margin-top: 120px;
}

.title {
    font-family: 'Poppins', sans-serif;
    font-size: 3em;
    width: 200px;
    margin-bottom: 40px;
}

.desc_text {
    font-family: 'Poppins' sans-serif;
    font-size: 1.7em;
}

.buttons {
    width: 100vw;
    margin-top: 60px;
}

.btn_1 {
    background-color: #FD5521;
    color: black;
    padding: 15px;
    border: none;
    width: 150px;
    margin-right: 30px;
}

.btn_1:hover {
    background-color: black;
    color: #FD5521;
    transition: 0.3s;
    border: 1px solid #FD5521;
}

.btn_2 {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    padding: 15px;
    width: 150px;
}

.btn_2:hover {
    background-color: #FD5521;
    border: none;
    color: black;
    transition: 0.3s;
}

@media (min-width: 769px) {

    .header {
        height: 800px;
    }

    .title {
        font-size: 4.5em;
        width: 600px;
        margin-top: 50px;
    }
    
    .content {
        position: absolute;
        top: 20px; /* Ajuste o valor conforme necessário para a posição vertical */
        left: 70px; /* Ajuste o valor conforme necessário para a posição horizontal */
        color: #fff; /* Ajuste a cor do texto conforme necessário */
        z-index: 1; /* Garante que o conteúdo esteja acima do vídeo */
        margin-top: 120px;
    }

    .desc_text {
        font-size: 2.5em;
    }

    .btn_1 {
        width: 200px;
        padding: 25px;
    }
    
    .btn_2 {
        width: 200px;
        padding: 25px;
    }
}