.content {
    margin-top: 100px;
}

.about_header {
    padding: 30px;
}

.p1 {
    font-size: 1.3em;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}

.about_text {
    padding: 30px;
}

.p2 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.4em;
    font-weight: bold;
}

.h3 {
    color: #FD5521;
    font-weight: bold;
    font-size: 1.7em;
    margin-bottom: 20px;
    font-family: 'Poppins';
}

.img {
    width: 100vw;
    height: 250px;
}